$gold: rgb(163, 147, 102);
$gray: #1e1e1e;
$border: #8d8d8d;
$light: #efefef;
$button-color: rgba(255, 255, 255, 0.71);
$form: #262626;
$placeholder: rgba(168, 168, 168, 0.439);
$hDesc: rgb(239, 239, 239);
$secondary: #222222;
$breakpoint-xxs: 319px;
$breakpoint-xs: 320px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
