.timeline-container {
    overflow-x: scroll !important;
    overflow-y: hidden !important;
    overflow-wrap: unset;
    padding: 100px 20px 0px 20px;
    &::-webkit-scrollbar {
        display: none;
    }
    @media (max-width: $breakpoint-md) {
        padding-top: 60px !important;
    }
    @media (max-width: $breakpoint-sm) {
        padding-top: 65px !important;
    }
    @media (max-width: $breakpoint-xxs) {
        padding-top: 50px !important;
    }
    .timeline {
        height: 350px;
        position: relative;
        top: 12px;
        @media (max-width: $breakpoint-md) {
            top: 0px;
        }
        display: flex;
        align-items: flex-start;
        width: 100%;
        @media (max-width: $breakpoint-md) {
            width: 120vw;
        }
        &-shapes {
            position: relative;
            top: 20px;
            width: 100%;
            @media (max-width: $breakpoint-md) {
                width: 120vw;
            }
        }
        &-dotted {
            position: absolute;
            width: 100%;
            border-top: 3.2px dotted #9c9c9c;
            height: 1px;
            flex: 1 0 100%;
            top: 4px;
            @media (max-width: $breakpoint-md) {
                flex: 1 0 120vw;
            }
        }
        &-dots {
            width: 100%;
            display: flex;
            justify-content: space-between;
            position: absolute;
            z-index: 1;
            @media (max-width: $breakpoint-md) {
                width: 120vw;
            }
        }
        &-dot {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: rgb(70, 70, 70);
            &.gold {
                background: $gold;
            }
        }
        &-years {
            display: flex;
            justify-content: space-between;
            flex: 1 0 100%;
            @media (max-width: $breakpoint-md) {
                flex: 1 0 120vw;
            }
            span {
                font-size: 18px;
                font-family: BigShouldersStencilDisplay-Medium;
                color: $gold;
                line-height: 1.152;
                position: relative;
                top: 20px;
                z-index: 2;
                padding: 0 12px;

                @media (max-width: $breakpoint-md) {
                    padding: 0 !important;
                }
                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                }
                background: #272727 !important;
            }
        }
        &-rectangle {
            width: 99%;
            position: absolute;
            height: 14px;
            background: #353535;
            top: 22px;
            flex: 1 0 100%;
            @media (max-width: $breakpoint-md) {
                flex: 1 0 120vw;
            }
        }
        &-history {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            position: absolute;
            flex: 1 0 100%;
            z-index: 2;
            @media (max-width: $breakpoint-lg) {
                top: 15px;
                flex: 1 0 120vw;
            }
            @media (max-width: $breakpoint-md) {
                flex: 1 0 120vw;
            }
            &-outer {
                height: 60px;
                &-inner {
                    height: 100%;
                }
            }
            &-container {
                position: absolute;
                .history {
                    transition: all 0.4s ease !important;
                }
            }
        }
    }
}
