.history-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    z-index: 3;
    top: 140px;
    left: -70px;
    width: 200px;
    transition: all 0.4s ease;
    animation-name: history-info;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    opacity: 0;
    visibility: hidden;
    animation-duration: 0.4s;
    @media (max-width: $breakpoint-lg) {
        top: 70px;
        left: -80px;
    }
    @keyframes history-info {
        0% {
            opacity: 0;
            visibility: hidden;
        }

        100% {
            opacity: 1;
            visibility: visible;
        }
    }
    &-diamonds {
        display: flex;
        position: relative;
        left: 8px;
        margin-bottom: 10px;
    }
    &-diamond {
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-bottom-color: #fff;
        position: relative;
        &.gold {
            border-bottom-color: $gold !important;
            left: -12px;
            &::after {
                border-top-color: $gold !important;
            }
        }
    }
    &-diamond:after {
        content: "";
        position: absolute;
        left: -10px;
        top: 10px;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-top-color: #fff;
    }
    &-desc {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        span:first-child {
            font-size: 40px;
            font-family: PensumPro-Medium;
            color: $gold;
            @media (max-width: $breakpoint-lg) {
                font-size: 36px;
            }
        }
        span:last-child {
            font-size: 14px;
            font-family: MessinaSerif-RegularItalic;
            color: rgb(128, 128, 128);
            @media (max-width: $breakpoint-lg) {
                font-size: 10px;
            }
        }
    }
    &-buttons {
        padding: 20px 30px;
        border: 1px solid #5a5a5a;
        width: 160px;
        border-radius: 20px;
        display: flex;
        button {
            border: none !important;
            padding: 0 !important;
            margin: 0 !important;
        }
        .custom-btn-shape {
            @media (max-width: $breakpoint-lg) {
                top: 6.2px !important;
                right: 25px !important;
            }
        }
        .custom-btn-shape.is-gray {
            @media (max-width: $breakpoint-lg) {
                top: -7px !important;
                right: 0px !important;
            }
        }
        .custom-btn-shape-line {
            @media (max-width: $breakpoint-lg) {
                top: -7px;
                width: 20px;
                height: 1px;
                background: #a39366;
                position: absolute;
                left: 18px;
            }
        }
        .custom-btn-shape-circle {
            @media (max-width: $breakpoint-lg) {
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background: #a39366;
                position: absolute;
                top: -10px;
                left: 15px;
            }
        }
        .custom-btn-shape-arrow {
            @media (max-width: $breakpoint-lg) {
                width: 0;
                height: 0;
                border-top: 4.5px solid transparent;
                border-left: 6px solid #a39366;
                border-bottom: 4.5px solid transparent;
                position: absolute;
                left: 34px;
                top: -11px;
            }
        }
        @media (max-width: $breakpoint-lg) {
            padding: 13px 9px;
            width: 45%;
        }
    }
}
